# 默认忽略的文件
/shelf/
/workspace.xml
# 数据源本地存储已忽略文件
/../../../../../../../../../../../:\03_Development_Software\01_DevEnvironment\wamp\www\php_blog_sys\back_page\static\js\editormd\.idea/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
